<div class="container-fluid">
    <div class="row questions">
        <div class="col-sm-12">
            <label>게시물 등록</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 questions-header">
            <label>질문과 답변을 작성해 주세요</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input class="compose-title" ng-model="compose.question.title" type="text" placeholder="질문을 작성해 주세요" />
            <textarea class="compose-body" ng-model="compose.question.body" placeholder="내용을 작성해 주세요."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mt-12" ng-repeat="answer in compose.question.answers">
            <input class="compose-title" ng-model="answer.lawyer" type="text" placeholder="변호사 이름을 입력해 주세요." />
            <textarea class="compose-body" ng-model="answer.body" placeholder="답변을 작성해 주세요."></textarea>
        </div>
    </div>

    <div class="row btn-add-wrap">
        <div class="btn-add" ng-click="compose.addAnswer()"><i class="fa fa-plus"></i>답변 추가하기</div>
    </div>
    <div class="row btn-complete-wrap">
        <div class="btn-complete" ng-click="compose.submitQuestion()">글작성 완료하기</div>
    </div>



    <!--<div class="row card-wrapper">
        <question-card ng-repeat="question in main.questions" question="question"></question-card>
        <div class="col-sm-12">
            <div class="more" ng-click="main.clickMore()">더보기</div>
        </div>
    </div>-->
</div>