<div class="container-fluid">
    <div class="row questions">
        <div class="col-sm-12">
            <label>상담글 보기</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>{{article.detail.title}}</label>
            <p>{{article.detail.body}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn" ng-click="article.modifyQuestion()">게시물 수정</button>
            <button class="btn" ng-click="article.deleteQuestion()">게시물 삭제</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="answer in article.detail.answers">
            <label>{{answer.lawyer}}</label>
            <p>{{answer.body}}</p>
        </div>
    </div>

</div>