<!--<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a simple angular webpack es6 example, compatible with lazy-loading modules.</p>
	
		<p>Lodash version: {{main.lodash_version}}</p>
	
	
		<p>Moment version: {{main.moment_version}}</p>
	
    
        <div class="row">
            <div class="col-md-4">
                <div>Image source: <b>Model</b></div>
                <img ng-click="main.click()" ng-src="{{main.angularLogo}}" alt="Angular logo">
            </div>
            <div class="col-md-4">
                <div>Image source: <b>URL</b></div>
                <img src="../../../assets/images/yeoman.png" alt="Yeoman logo">
            </div>
        </div>
    </div>
</div>-->
<div class="container-fluid">
    <div class="row questions">
        <div class="col-sm-12">
            <label>게시물 리스트</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 questions-header">
            <label>사례글을 확인해 보세요.</label>
            <button class="btn btn-warning">글작성 하기 <i class="fa fa-pencil"></i></button>
        </div>
    </div>
    <div class="row card-wrapper">
        <question-card ng-repeat="question in main.questions" question="question"></question-card>
        <div class="col-sm-12">
            <div class="more">더보기</div>
        </div>
        <!--<div class="col-sm-12">
            <div class="card">
                <label class="question-label">협박죄 등 성립 여부</label>
                <p class="question">
                    1. A와 저는 OO단체 선거와 관련하여 반대 세력이었습니다. A는 OO단체장에 선발된 후 하위 위원인 저를 불러 면전에 욕과 함께 너 후 회할거라며 OO단체 인프라로 (직위와 저를) 죽여버리겠다는
                    협박을 하였습니다. 당시 상황을 녹음한 파일이 있습니다. 2. B는 카톡과...
                </p>
                <label class="question-date">2달 전 질문 작성됨</label>
                <div class="answer">
                    <label class="answer-label">김태환 변호사의 답변</label>
                    <p class="answer-body">
                        협박죄, 정보통신망법 위반죄 등이 성립될 수 있습니다. 녹음파일, 캡쳐본 등이 있다면 유죄로 하는 것은 가능할 것으로 보이고, 구체적인 형량 등을 그
                        상세한 내용을 보아야만 할 수 있을 것으로 보입니다.
                    </p>
                </div>
            </div>
        </div>-->
        
    </div>
</div>