<div class="container-fluid">
    <div class="row questions">
        <div class="col-sm-12">
            <label>게시물 리스트</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 questions-header">
            <label>사례글을 확인해 보세요.</label>
            <button class="btn-write" ng-click="main.writeQuestion()">글작성 하기&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil"></i></button>
        </div>
    </div>
    <div class="row card-wrapper">
        <question-card ng-click="main.clickDetail(question)" ng-repeat="question in main.questions" question="question"></question-card>
        <div class="col-sm-12">
            <div class="more" ng-click="main.clickMore()">더보기</div>
        </div>
    </div>
</div>