$eb: #EBEBEB;

.questions {
  background-color: #382E2D;
  color: white;
  text-align: center;
  padding: 12px 0;
}

.questions-header {
  text-align: center;
  padding: 12px;
}

.card-wrapper {
  overflow: hidden;
  margin: 12px auto;
}

.card {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  padding: 36px;
  border: 1px solid $eb;
  margin: 0 auto;
  max-width: 960px;
}


.answer {
  padding-left: 6px;
  border-left: 1px solid $eb;
}

.more {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  padding: 12px;
  border: 1px solid $eb;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  color: #CBCBCB;
}

.compose-title {
    width: 100%;
    height: 49px;
    padding: 30px;
    max-width: 960px;
    margin: 0 auto;
    display: block;
}


.compose-body {
  width: 100%;
  height: 160px;
  padding: 12px 30px;
  max-width: 960px;
  margin: 0 auto;
  display: block;
  resize: none;
  border-top: 0;
}

.mt-12 {
  margin-top: 12px;
}

.question-detail {
  width: 100%;
  max-width: 960px;
  padding: 30px;

  label {
    display: block;
    margin: 0 auto;
    font-size: 22px;
  }
}

.answer-detail {
  width: 100%;
  max-width: 960px;
  padding: 12px 30px;
  background-color: white;
}

.lawyer-answer {
  padding-left: 30px;
  margin-top: 30px;
  color: #888888;
}

.article-btn-wrap {
  background-color: #FBFBFB;
  height: 50px;
  text-align: right;
  padding-right: 30px;

  div {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-right: 12px;
    color: #BFBFBF;
    cursor: pointer;
  }
}

.answers {
  background-color: #EBEBEB;
  padding-bottom: 12px;
}

.btn-write {
  border: 0;
  background-color: #FF4E00;
  display: inline-block;
  color: white;
  padding: 6px 24px;
  right: 15px;
  position: absolute;
  font-size: 12px;
}

.btn-add-wrap, .btn-complete-wrap {
  padding: 0 15px;
}

.btn-add {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 12px 0;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  background-color: #EAEAEA;
  border: 1px solid #CBCBCB;
  color: #888888;
  cursor: pointer;
}

.btn-complete {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 24px 0 12px 0;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  background-color: #FF4E00;
  color: white;
  cursor: pointer;
}